*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    height: 100vh;
}
.profile{
margin: auto !important; 
width: 100%;
display: flex;
justify-content: center;
}

.profile img{

    width: 400px;
    height: 300px;
    margin: 2rem auto;
}
.instagram img , .telegram img , .gmail img , .WhatsApp img{
    width: 530px;
     height: 45px;
     display: table;
     text-align: center;
     margin: 0 auto;
     margin-top: 27px;
}
@media only screen and (max-width: 480px) {
    .instagram a img , .telegram  a img, .gmail a img , .WhatsApp a img{
        width: 260px !important;
        height: 34px !important;
        text-align: center;
        margin: 10px auto;
        
    }
    .profile img{

        width: 250px !important;
        height: 200px !important;
        margin: 4rem auto;
    }

}

@media only screen and (max-width: 991px) {
    .instagram a img , .telegram  a img, .gmail a img , .WhatsApp a img{
        width: 450px ;
        height: 40px;
        text-align: center;
        margin: 10px auto;
        
    }
    .profile img{

        width: 350px;
        height: 250px;
        margin: 4rem auto;
    }
}





